<div class="modal-header">
  <h4 class="modal-title" id="exampleModalLabel1">Edit Model</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="shadow-loading text-center">
  <i class="fa fa-spinner fa-spin" style="font-size:50px; color: #fff"></i>
</div>

<div class="modal-body">
  <%= form_with(scope: :model, url: model_update_path, multipart: true) do |form| %>
    <% if @model.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:
        </h2>

        <ul>
          <% @model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <label for="recipient-name" class="control-label">Name:</label>
      <%= form.text_field :name, id: :project_name, class: "form-control", id: "name_model" %>
      <span class="label label-danger" style="display: none" id="danger_name">Name is required!</span>
    </div>
    <div class="form-group">
      <label for="recipient-name" class="control-label">Model Image:</label>
      <%= form.file_field :photo, :class => "form-control", :onchange =>"updatePhoto(this);", id: "image_model"%>
      <span class="label label-danger" style="display: none" id="danger_image">Image is required!</span>
      <span class="label label-danger" style="display: none" id="danger_size"><strong>Warning!</strong> You can not upload images bigger than 2 MB.</span>
    </div>
    <div class="form-group">
      <%= form.check_box :status, class: "filled-in", id:"edit_model_status"  %>
      <label for="edit_model_status">Active</label>
    </div>
    <div>
      <img src="" id="image_upload" width="100%">
    </div>

    <div class="modal-footer">
      <div class="col-md-6 pull-left">
          <button onclick="removeModel()" type="button" class="btn btn-danger pull-left" >Remove</button> 
      </div>
      <div class="col-md-6" style="text-align: right;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= form.submit 'Save', class: "btn btn-primary waves-effect waves-light" %>
      </div>
    </div>
  <% end %>

  <script>
      let status = null;
      $(".select2").select2({
          tags: true
      });

      $('form').submit(function() {
            var name_model = $("#name_model").val();
            //var image_model = $("#image_model").val();
            status = $("#edit_model_status").prop("checked");
            if (name_model == null || name_model == "" ) {
                $("#danger_name").show();
                return false;
            }

            $('.shadow-loading').fadeIn('fast');
            return true;
      });
      const MAX_IMAGE_SIZE = 2048000;
      function updatePhoto(input){
          if (input.files && input.files[0]) {
              if(input.files[0].size > MAX_IMAGE_SIZE){

                  return;
              }else {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                      $('#image_upload').attr('src', e.target.result);
                  };
                  reader.readAsDataURL(input.files[0]);
              }
          };
      }

      function removeModel(){
        model_object = {
          model : {
            id: <%= @model.id %>
          }
        }
        $.ajax({
          url: "<%= remove_model_path %>",
          method: "DELETE",
          data: model_object,
          success: function (data) {
            if(data.success){
              window.location.replace('<%= builder_path(@model.builder_id) %>')
            }
          },
          error: function (data) {
            console.log('Se genero un error al intentar eliminar este modelo')
          }
        })
      }

      $("form").bind('ajax:complete', function() {
        if (status == true){
          location = '<%= model_detail_path(@model) %>'
        }else{
          location = '<%= builder_path(@model.builder_id) %>';
        }
      });
  </script>
</div>




