<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Sevan</h3>
		<ol class="breadcrumb">
	  	<li class="breadcrumb-item"><a href="<%= builder_path(@model.builder.id) %>">Models</a></li>
	    <li class="breadcrumb-item active"><%= @model.name %></li>
	  </ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 class="text-info"><%= @model.name %> <button class="btn btn-primary" onclick="editModel(<%= @model.id %>)">Edit</button></h2>
	</div>
	<div class="col-md-12 col-sm-12">
		<label class="font-weight-bold">Builder: </label> <%= @model.builder.name %>
	</div>
	<div class="col-md-12 col-sm-12">
		<label class="font-weight-bold">Model Image</label>
    <br>
		<img src="<%= @model.model_image %>" >
	</div>
</div>

<br>
<div class="row" id="model_template">
  <div class="col-md-12 col-sm-12" style="display: -webkit-inline-box;">
    <h2 class="text-info">Template</h2>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addProduct">
      <i class="fa fa-plus"></i> Add Product
    </button>
  </div>
  <% if !@model.templates.blank? %>
  	<% @model.templates.each do |template| %>
  		<div class="col-lg-3 col-md-6">
		    <a onclick="openModalEditTemplate(this)" class="edit-template" style="cursor: pointer;">
		      <div class="card" data-id="<%= template.id %>" data-quantity="<%= template.quantity %>" data-product-id="<%= template.product_id %>">
		        <div class="d-flex flex-row">
		          <div class="p-20">
		            <h5 class="m-b-0 text-info">
		              <small class="quantity">Q<%= template.quantity %> <%= template.product.unit.name %></small>
		            </h5>
		          </div>
		          <div class="align-self-center m-l-20">
		            <small class="text-muted m-b-0"><%= template.product.name %></small>
		          </div>
		        </div>
		      </div>
		    </a>
	    </div>
    <% end %>
  <% else %>
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-info" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-info">
          <i class="fa fa-exclamation-circle"></i> Information
        </h3> 
        This model has an empty template, please go and add some products.
      </div>
    </div>
  <% end %>
</div>

<!-- modals -->
<div class="modal fade" id="addProduct" role="dialog" aria-labelledby="addProduct">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Template Product(s)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<div class="alert" id="template_alert" style="display: none"></div>
          	<div class="table-responsive">
          		<table class="table table-bordered" id="template-products">
          			<thead>
          				<tr>
          					<th>Product</th>
          					<th>Quantity</th>
          				</tr>
          			</thead>	
          			<tbody>
          				<% if !@products.blank? %>
          					<% @products.each do |product| %>
          						<tr>
          							<td product-id="<%= product.id %>" style="padding: 5px;vertical-align: top;">
          								<%= product.name %>
          							</td>
          							<td style="padding: 5px;vertical-align: top;">
          								<input type="number" min="0" max="1000" name="quantity" value="0" placeholder="Enter a quantity" class="form-control"></input>
          								<span class="label label-danger" style="display: none" id='danger_quantity_<%=product.id%>'>
          									Quantity is required!
          								</span>
          							</td>
          						</tr>
          					<% end %>
          				<% else %>
          					<h2>
          						There's no existing products, please go and create some.
          					</h2>
          				<% end %>
          			</tbody>
          		</table>
          	</div>

            <!--<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <select id="add-product"></select>
                  <span class="label label-danger" style="display: none" id="danger_product">Product is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Quantity:</label>
                  <input type="number" class="form-control" id="template_quantity" required>
                  
              </div>
            </form>-->


          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addTemplateProduct()" ontype="button" class="btn btn-primary waves-effect waves-light">Add</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editProduct" role="dialog" aria-labelledby="editProduct">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Template Product</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <input type="text" class="form-control" id="edit_product" readonly="true">
                  <span class="label label-danger" style="display: none" id="danger_edit_product">Product is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Quantity:</label>
                  <input type="text" class="form-control" id="edit_product_quantity" required>
                  <span class="label label-danger" style="display: none" id="danger_edit_quantity">Quantity is required!</span>
              </div>
              <div class="alert" id="edit_product_alert" style="display: none">
              </div>
            </form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="editTemplateProduct()" ontype="button" class="btn btn-primary waves-effect waves-light">Edit</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="content_modal_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-inject-model">
    </div>
  </div>
</div>

<script type="text/javascript">

  //edit  MODEL

  function editModel(id){
      $.get("/model/"+id+"/edit",function(data){
          $(".modal-inject-model").html(data);
          $("#content_modal_model").modal('show');
      })
  }

	//For Template Products
	var idProductTemplateForEditing = 0;
	var product_id = 0;
	var templateElement = "";

	function addTemplateProduct(){
		if (!validateTemplateData()){
			model_id = <%= @model.id %>
			let success = true;
		    $("#template-products").find('tbody tr').each(function (i, el) {
		        var tds = $(el).find('td');
		        let quantity = $(tds).find("input").val();
		        let product_name = $.trim($(tds).eq(0).text());
		        product_id = $(tds).attr("product-id");
		        if (quantity > 0){
		        	template_object = {
				    	template : {
				        	id: 0,
				        	model_id: model_id,
				        	product_id: product_id,
					    	quantity: quantity
				      	}
				    }

				    $.ajax({
				    	url: "<%= template_product_path %>",
				      	method: "POST",
				      	data: template_object,
				      	success: function (data) {
				        	if(data.success){
				        		if (data.id !== undefined){
				        			appendTemplateProduct(data.id, product_id, data.unit_name, quantity, product_name);
				        		}
					        }else{
					        	$("#template_alert").empty();
					          	$("#template_alert").removeClass("alert-success");
					          	$("#template_alert").addClass("alert-danger");
					          	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
					                 	<span aria-hidden="true">×</span>\
					                </button>';
					          	$("#template_alert").append(message);
					          	$("#template_alert").show();
					          	setTimeout(function(){
					            	$("#template_alert").hide();
					          	},5000);
					          	success = false;
					          	return false;
					        }
				      	},
				      	error: function (data) {
				        	$("#template_alert").empty();
				        	$("#template_alert").removeClass("alert-success");
				        	$("#template_alert").addClass("alert-danger");
				        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
				                		<span aria-hidden="true">×</span>\
				                	</button>';
				        	$("#template_alert").append(message);
				        	$("#template_alert").show();
				        	setTimeout(function(){
				          		$("#template_alert").hide();
				        	},5000);
				        	success = false;
					        return false;
				      	}
				    })
		        }
		  	});

		  	if (success){
		  		$("#addProduct").modal('hide');
		  	}
	  	}
	}

	function validateTemplateData(){
		error = false;
		$("#template-products").find('tbody tr').each(function (i, el) {
	        var tds = $(el).find('td');
	        quantity = $(tds).find("input").val();
	        product_id = $(tds).attr("product-id");
	        //console.log(tds.eq(1).val())
	        if (quantity === "" || quantity === null || quantity === undefined){
	        	$('#danger_quantity_'+product_id).show();
			    setTimeout(function(){
			        $("#danger_quantity_"+product_id).hide();
			    },5000);
			    error = true;
			    return false; 
	        }
	  	});
		return error;
	}

	function appendTemplateProduct(record_id, product_id, unit_name, quantity, product_name){
		var element = '<div class="col-lg-3 col-md-6">\
		    							<a onclick="openModalEditTemplate(this)" class="edit-template" style="cursor: pointer;">\
		      							<div class="card" data-id="'+record_id+'" data-quantity="'+quantity+'" data-product-id="'+product_id+'">\
		        							<div class="d-flex flex-row">\
		          							<div class="p-20">\
		            							<h5 class="m-b-0 text-info">\
		              							<small class="quantity">Q'+quantity +' '+ unit_name +'</small>\
		            							</h5>\
		          							</div>\
		          							<div class="align-self-center m-l-20">\
		            							<small class="text-muted m-b-0">'+product_name+'</small>\
		          							</div>\
		        							</div>\
		      							</div>\
		    							</a>\
	  								</div>';

		$("#model_template").append(element);
		$("#template_quantity").val("");
	}

	function openModalEditTemplate(element){
		idProductTemplateForEditing = $(element).find(".card").attr("data-id");
		product_id = $(element).find(".card").attr("data-product-id");
		quantity = parseInt($(element).find(".card").attr("data-quantity"));
		templateElement = element;
		product_name = $(element).find("small");
	
	  $('#edit_product').val(product_name[1].innerText);
	  $('#edit_product_quantity').val(quantity);
	  $('#editProduct').modal('show');
	}

	function editTemplateProduct(){
	  quantity = parseInt($("#edit_product_quantity").val());
	  model_id = <%= @model.id %>

	  if (!isNaN(quantity) || quantity !== null){
	    template_object = {
	      template : {
	        id: idProductTemplateForEditing,
	        model_id: model_id,
	        product_id: product_id,
	        quantity: quantity
	      }
	    }

	    $.ajax({
	      url: "<%= template_product_path %>",
	      method: "POST",
	      data: template_object,
	      success: function (data) {
	        if(data.success){
	          updateProductElement(data.unit_name);
	          $("#edit_product_alert").empty();
	          $("#edit_product_alert").removeClass("alert-danger");
	          $("#edit_product_alert").addClass("alert-success");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#edit_product_alert").append(message);
	          $("#edit_product_alert").show();
	          setTimeout(function(){
	            $("#edit_product_alert").hide();
	            $("#editProduct").modal('hide');
	          },5000);
	        }else{
	          $("#edit_product_alert").empty();
	          $("#edit_product_alert").removeClass("alert-success");
	          $("#edit_product_alert").addClass("alert-danger");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#edit_product_alert").append(message);
	          $("#edit_product_alert").show();
	          setTimeout(function(){
	            $("#edit_product_alert").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#edit_product_alert").empty();
	        $("#edit_product_alert").removeClass("alert-success");
	        $("#edit_product_alert").addClass("alert-danger");
	        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                  <span aria-hidden="true">×</span>\
	                  </button>';
	        $("#edit_product_alert").append(message);
	        $("#edit_product_alert").show();
	        setTimeout(function(){
	          $("#edit_product_alert").hide();
	        },5000);
	      }
	    })

	  }else{
	    $("#danger_edit_quantity").show();
	    setTimeout(function(){
	        $('#danger_edit_quantity').hide();
	    },5000);
	  }
	}

	function updateProductElement(unit_name){
	  quantity = parseInt($("#edit_product_quantity").val());
	  $(templateElement).find(".quantity").text("Q" + quantity + " " + unit_name);
	  $(templateElement).find(".card").attr('data-quantity', quantity); 
	  templateElement = "";
	  idProductTemplateForEditing = 0;
	}

</script>