<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Sevan</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
      <li class="breadcrumb-item">Builder</li>
      <li> &nbsp; - <%= @builder.name %></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-xlg-6 m-b-30" style="display: -webkit-inline-box;">
    <h2 class="text-info">Projects</h2>&nbsp;&nbsp;&nbsp;
    <button onclick="newProject()" type="button" class="btn btn-outline-info"><i class="fa fa-plus"></i> Add New</button>
  </div>
</div>

<div class="row" id="projects">
  <% @builder.projects.where(:status => Project::Status[:active]).each do |project| %>  
    <div class="col-lg-4 col-md-4">      
      <div class="card">
        <div class="card-body card-padding-small">
          <div class="d-flex flex-row">
            <div class="round round-sm align-self-center round-info">
              <i class="fa fa-file-text"></i>
            </div>
            <div class="col-md-7 align-self-center">
              <h5 class="m-b-0 font-light">
                <a href="<%= project_path(project) %>"><%= project.name %></a>
              </h5>
            </div>
            <div class="col-md-3 align-self-center text-right">
              <span onclick="openModalEditProject(this, <%= project.id %>)">
                <i class="fa fa-pencil"></i>
              </span>
            </div>

          </div>
        </div>
      </div>
      
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-12 col-xlg-6 m-b-30" style="display: -webkit-inline-box;">
    <h2 class="text-info">Models</h2>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#newModel">
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>
</div>

<div class="row" id="projects">
  <% @builder.models.where(:status => Model::Status[:active]).order(:name => "asc").each do |model| %>  
    <div class="col-lg-3 col-md-3">
      <a href="<%= model_detail_path(model.id) %>" style="cursor: pointer;">
        <div class="card" data-model-id="<%= model.id %>"> 
          <div class="card-body card-padding-small">
            <div class="d-flex flex-row">
              <div class="col-md-12 align-self-center text-info">
                <small class="m-b-0 font-light"><%= model.name %></small>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<div class="modal fade" id="newModel" tabindex="-1" role="dialog" aria-labelledby="newModel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">New Model</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="model_name">
                  <span class="label label-danger" style="display: none" id="danger_model_name">Model name is required!</span>
              </div>
              <div class="alert" id="model_alert" style="display: none">
              </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addNewModel()" ontype="button" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Edit Project</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="control-label">Name:</label>
              <input type="text" class="form-control" id="edit_project_name" required>
              <span class="label label-danger" style="display: none" id="danger_edit_name">Project name is required!</span>
          </div>
          <div class="alert" id="project_edit_alert" style="display: none"></div>
        </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-6 pull-left">
            <button onclick="removeProject()" type="button" class="btn btn-danger pull-left">Remove</button> 
          </div>
          <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button onclick="editProject()" ontype="button" class="btn btn-primary waves-effect waves-light">Edit</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="content_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-inject">
    </div>
  </div>
</div>


<script type="text/javascript">

    let idProjectForEditing = null
    let projectElement = null

    function newProject(){
        $.get("<%= new_project_path %>",function(data){
            $(".modal-inject").html(data);
            $("#content_modal").modal('show');
        })
    }

    function editBuilder(id){
        $.get("/projects/"+id+"/edit",function(data){
            $(".modal-inject").html(data);
            $("#content_modal").modal('show');
        })
    }

    function openModalEditProject(element, project_id){  
      projectElement = $(element).parent().parent().parent().parent().parent()
      idProjectForEditing = project_id;
      name = $(element).parent().parent().find("a").text()
      $('#edit_project_name').val(name);
      $('#editProjectModal').modal('show');
    }

    function disableBuilder(id){
      url= "/projects/"+id+"/";
      console.log(url);
      swal({
          title: "Are you sure?",
          text: "You are going to disable this builder!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#DD6B55",
          confirmButtonText: "Yes, disable it!",
          closeOnConfirm: false
      }, function(){


          $.ajax({
              url: url,
              type: 'DELETE',
              success: function(response) {
                  swal("Deleted!", "Your builder has been disable.", "success");
                  location.reload();
              }
          });
      });
    }

    function removeProject(){
      $.ajax({
        url: "<%= remove_project_path %>",
        method: "POST",
        data: {id: idProjectForEditing},
        success: function (data) {
          if(data.success){
            $(projectElement).remove()
            $("#editProjectModal").modal('hide');
          }else{
            $("#project_edit_alert").empty();
            $("#project_edit_alert").removeClass("alert-success");
            $("#project_edit_alert").addClass("alert-danger");
            message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                      <span aria-hidden="true">×</span>\
                      </button>';
            $("#project_edit_alert").append(message);
            $("#project_edit_alert").show();
          }
        },
        error: function (data) {
          $("#project_edit_alert").empty();
          $("#project_edit_alert").removeClass("alert-success");
          $("#project_edit_alert").addClass("alert-danger");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#project_edit_alert").append(message);
          $("#project_edit_alert").show();
        }
      })
    }

    function editProject(){
      name = $.trim($("#edit_project_name").val());
      if (name.length > 0){
        project_object = {
          project : {
            id: idProjectForEditing,
            name: name
          }
        }

        $.ajax({
          url: "<%= update_project_path %>",
          method: "POST",
          data: project_object,
          success: function (data) {
            if(data.success){
              updateProjectElement();
              $("#project_edit_alert").empty();
              $("#project_edit_alert").removeClass("alert-danger");
              $("#project_edit_alert").addClass("alert-success");
              message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                        <span aria-hidden="true">×</span>\
                        </button>';
              $("#project_edit_alert").append(message);
              $("#project_edit_alert").show();
              setTimeout(function(){
                $("#project_edit_alert").hide();
                $("#editProjectModal").modal('hide');
              },4000);
            }else{
              $("#project_edit_alert").empty();
              $("#project_edit_alert").removeClass("alert-success");
              $("#project_edit_alert").addClass("alert-danger");
              message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                        <span aria-hidden="true">×</span>\
                        </button>';
              $("#project_edit_alert").append(message);
              $("#project_edit_alert").show();
              setTimeout(function(){
                $("#project_edit_alert").hide();
              },4000);
            }
          },
          error: function (data) {
            $("#project_edit_alert").empty();
            $("#project_edit_alert").removeClass("alert-success");
            $("#project_edit_alert").addClass("alert-danger");
            message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                      <span aria-hidden="true">×</span>\
                      </button>';
            $("#project_edit_alert").append(message);
            $("#project_edit_alert").show();
            setTimeout(function(){
              $("#project_edit_alert").hide();
            },4000);
          }
        })
      }else{
        $("#danger_edit_name").show();
        setTimeout(function(){
            $('#danger_edit_name').hide();
        },4000);
      }
    }

    function updateProjectElement(){
      name = $.trim($("#edit_project_name").val());
      $(projectElement).find("a").text(name);
      projectElement = "";
      idProjectForEditing = 0;
    }

    function addNewModel(){
      model_name = $('#model_name').val();
      builder_id = <%= @builder.id %>;
      if(model_name != "" && model_name != null){
        model_object = {
          model : {
            builder_id: builder_id,
            name: model_name
          }
        }

        $.ajax({
          url: "<%= create_model_path %>",
          method: "POST",
          data: model_object,
          success: function (data) {
            if(data.success){
              window.location.replace('/model/'+data.model_id+'/show');
            }else{
              $("#model_alert").empty();
              $("#model_alert").removeClass("alert-success");
              $("#model_alert").addClass("alert-danger");
              message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                        <span aria-hidden="true">×</span>\
                        </button>';
              $("#model_alert").append(message);
              $("#model_alert").show();
              setTimeout(function(){
                $("#model_alert").hide();
              },5000);
            }
          },
          error: function (data) {
            $("#model_alert").empty();
            $("#model_alert").removeClass("alert-success");
            $("#model_alert").addClass("alert-danger");
            message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                      <span aria-hidden="true">×</span>\
                      </button>';
            $("#model_alert").append(message);
            $("#model_alert").show();
            setTimeout(function(){
              $("#model_alert").hide();
            },5000);
          }
        })
      }else{
        $("#danger_model_name").show();
          setTimeout(function(){
            $('#danger_model_name').hide();
        },5000);
      }
    }


</script>
