<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Sevan</h3>
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
		<li class="breadcrumb-item active">Orders</li>
	  </ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-xlg-6 m-b-30">
		<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#newOrder">
			<i class="fa fa-plus"></i> Add new</button>
	</div>	
</div>

<div class="row">
	<% if !@orders.blank? %>
		<% @orders.each do |order| %>
			<div class="col-lg-4 col-md-4">
				<a href="<%= order_detail_path(order.id) %>">
					<div class="card" style="width: 18rem;">
					  <div class="card-body">
					    <h5 class="card-title"><strong><%= order.order_number %> - <%= order.vendor.name %></strong></h5>
					    <h6 class="card-subtitle mb-2 text-muted"><%= order.project.name %></h6>
					    <h6 class="card-subtitle mb-2 text-muted">Lot: <%= order.lot.number %></h6>
					    <small>Delivery Date: <%= order.delivery_date.strftime("%d/%m/%Y") %></small><br>
					    <small>Needed By: <%= Order.TimeNeededBy(order.time_needed_by) %></small>
					  </div>
					</div>	
				</a>
			</div>
		<% end %>
	<% else %>
		<div class="col-md-12 col-sm-12">
			<div class="alert alert-info" style="width: 100%">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
				</button>
			  <h3 class="text-info">
				<i class="fa fa-exclamation-circle"></i> Information
				</h3> 
				There are no orders created yet, please go and create some.
			</div>
		</div>
	<% end %>
</div>

<!-- modals -->
<div class="modal fade bs-example-modal-lg show" id="newOrder" role="dialog" aria-labelledby="newOrder">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Add Purchase Order</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
          		<div class="row">
          			<div class="col-md-6">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Delivery Date:</label>
	                  <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" id="delivery_date">
	                  <span class="label label-danger" style="display: none" id="danger_delivery">Delivery Date is required!</span>
              		</div>		
          			</div>
          			<div class="col-md-6">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Time needed by:</label>
	                  <%= select_tag "time_needed_by", options_for_select(Order.get_time_needed_by.map { |e| [e[0], e[1]] }.sort), { :id => "select_time_needed", :class => "form-control"} %>
	                  <span class="label label-danger" style="display: none" id="danger_time_needed">Time Needed By is required!</span>
              		</div>		
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-6">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Project:</label>
	                  <select id="select-project"></select>
	                  <span class="label label-danger" style="display: none" id="danger_project">Project is required!</span>
              		</div>
          			</div>
          			<div class="col-md-6">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Lot:</label>
	                  <select id="select-lot" disabled="true"></select>
	                  <span class="label label-danger" style="display: none" id="danger_lot">Lot is required!</span>
	                  <span class="label label-danger" style="display: none" id="danger_load_lot">Error while loading lots!!</span>
              		</div>
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-6">
	          			<div class="form-group">
	                  <label for="recipient-name" class="control-label">Model:</label>
	                  <input type="text" data-model-id="" class="form-control" id="model_name" disabled="true">
	                  <span class="label label-danger" style="display: none" id="danger_template">Model is required!</span>
	                  <span class="label label-danger" style="display: none" id="danger_model"></span>
              		</div>
          			</div>
          			<div class="col-md-6">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Vendor:</label>
	                  <%= select_tag "vendors", options_for_select(Vendor.get_all.map { |e| [e.name, e.id] }.sort), { :id => "select_vendor", :class => "form-control", :include_blank => "- None -"} %>
	                  <span class="label label-danger" style="display: none" id="danger_vendor">Vendor is required!</span>
              		</div>
          			</div>
          		</div>
          		<div class="row">
          			<div class="col-md-12">
          				<div class="form-group">
	                  <label for="recipient-name" class="control-label">Notes:</label>
	                  <textarea class="form-control" rows="4" id="order_notes"></textarea>
              		</div>
          			</div>
          		</div>
             
              <div class="alert" id="new_order_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addNewOrder()" ontype="button" class="btn btn-danger waves-effect waves-light">Create Order</button>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">

	var project_id = 0;

	$(document).ready(function(){

		jQuery('.mydatepicker, #datepicker').datepicker();
		jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });

	  $("#select-project").select2({
	    theme: "bootstrap",
	    ajax:{
	      url: "<%= search_projects_path %>",
	      dataType: 'json',
	      data: function(params){
	        return{
	          q: params.term
	        };
	      },
	      processResults: function (data) {
	        return {
	            results: data.data
	        };
	      },
	    },
	    minimumInputLength: 3,
	    placeholder: {
	      id: '-1',
	      text: 'Enter project name ...'
	    },
	    escapeMarkup: function (markup) {
	      return markup;
	    },
	    templateResult: function (project) {
	      if (project.loading) return 'project.name';
	      return $("<div>"+ project.name +"</div>")
	    }, 
	    templateSelection: function (project) {
	      if (project === '' || project === null){
	          return '<span>Enter project name ...</span>';
	      }
	      return $("<span>"+ project.name +"</span>")
	    }
	  });

	  $("#select-lot").select2({
	    theme: "bootstrap",
	    minimumResultsForSearch: -1
	  });

	});

	$('#select-project').on('change', function(){
  	project_id = $("#select-project option:selected").val();
  	LoadLotsByProject();
	});	

	function LoadLotsByProject(){
		if (project_id !== 0 || project_id !== null || project_id || undefined){
			$.ajax({
	      url: "<%= search_lots_path %>",
	      method: "GET",
	      data: {project_id: project_id},
	      success: function (data) {
	        if(data.success){
	        	$("#select-lot").empty();
	        	$("#select-lot").append('<option value="0">Select an option</option>')
	          $.each(data.data, function(){
	            $("#select-lot").append('<option value="'+ this.id +'">'+ this.name +'</option>')
	          });
	          $("#select-lot").attr("disabled", false);
	        }else{
	          $("#danger_load_lot").show();
	          setTimeout(function(){
	            $("#danger_load_lot").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#danger_load_lot").show();
	          setTimeout(function(){
	            $("#danger_load_lot").hide();
	        },5000);
	      }
	    });
		}else{
			$("#danger_project").show();
	    setTimeout(function(){
	    	$("#danger_project").hide();
	    },5000);
		}
	}

	$('#select-lot').on('change', function(){
  	lot_id = $("#select-lot option:selected").val();
  	SearchModel();
	});

	function SearchModel(){
		if (lot_id !== 0 || lot_id !== null || lot_id || undefined){
			$.ajax({
	      url: "<%= search_model_path %>",
	      method: "GET",
	      data: {lot_id: lot_id},
	      success: function (data) {
	        if(data.success){
	          $("#model_name").val('');
	          $("#model_name").val(data.model_name);
	          $("#model_name").attr('data-model-id', data.model_id); 
	        }else{
	        	$("#danger_model").append(data.data);
          	$("#danger_model").show();
	          setTimeout(function(){
	            $("#danger_model").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#danger_model").append(data.data);
          	$("#danger_model").show();
	          setTimeout(function(){
	            $("#danger_model").hide();
	        },5000);
	      }
	    });
		}else{
			$("#danger_lot").show();
	    setTimeout(function(){
	    	$("#danger_lot").hide();
	    },5000);
		}
	}

	function addNewOrder(){
		if (!ValidateOrderData()){
			delivery_date = $.trim($("#delivery_date").val());
	  	time_needed_by = $("#select_time_needed").val();
	  	project_id = $('#select-project :selected').val();
	  	lot_id = $('#select-lot :selected').val();
	  	model_id = parseInt($("#model_name").attr("data-model-id"));
	  	vendor_id = $("#select_vendor").val();
	  	notes = $("#order_notes").val();

	    order_object = {
	      order : {
	        delivery_date: delivery_date,
	        time_needed_by: time_needed_by,
	        project_id: project_id,
	        lot_id: lot_id,
	        model_id: model_id,
	        vendor_id: vendor_id,
	        notes: notes
	      }
	    }

	    $.ajax({
	      url: "<%= create_order_path %>",
	      method: "POST",
	      data: order_object,
	      success: function (data) {
	        if(data.success){
	        	debugger
	          $("#new_order_alert").empty();
	          $("#new_order_alert").removeClass("alert-danger");
	          $("#new_order_alert").addClass("alert-success");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#new_order_alert").append(message);
	          $("#new_order_alert").show();
	          setTimeout(function(){
	            $("#new_order_alert").hide();
	            window.location.href = "orders/"+data.order_id
	          },3000);
	        }else{
	          $("#new_order_alert").empty();
	          $("#new_order_alert").removeClass("alert-success");
	          $("#new_order_alert").addClass("alert-danger");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#new_order_alert").append(message);
	          $("#new_order_alert").show();
	          setTimeout(function(){
	            $("#vendor_product_alert").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#new_order_alert").empty();
	        $("#new_order_alert").removeClass("alert-success");
	        $("#new_order_alert").addClass("alert-danger");
	        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                  <span aria-hidden="true">×</span>\
	                  </button>';
	        $("#new_order_alert").append(message);
	        $("#new_order_alert").show();
	        setTimeout(function(){
	          $("#new_order_alert").hide();
	        },5000);
	      }
	    })
		}	
	}

	function ValidateOrderData(){
		delivery_date = $.trim($("#delivery_date").val());
	  time_needed_by = $("#select_time_needed").val();
	  project_id = $('#select-project :selected').val();
	  lot_id = $('#select-lot :selected').val();
	  model_id = parseInt($("#model_name").attr("data-model-id"));
	  vendor_id = $("#select_vendor").val();
	  error = false;

	  if(delivery_date.length === 0)
	  { 
	    $("#danger_delivery").show();
	    setTimeout(function(){
	        $('#danger_delivery').hide();
	    },5000);
	    error = true;
	  }

	  if(time_needed_by === "")
	  { 
	    $("#danger_time_needed").show();
	    setTimeout(function(){
	        $('#danger_time_needed').hide();
	    },5000);
	    error = true;
	  }

	 	if(project_id === undefined || project_id === null)
	  { 
	    $("#danger_project").show();
	    setTimeout(function(){
	        $('#danger_project').hide();
	    },5000);
	    error = true;
	  }

	 	if(lot_id === undefined || lot_id === null)
	  { 
	    $("#danger_lot").show();
	    setTimeout(function(){
	        $('#danger_lot').hide();
	    },5000);
	    error = true;
	  }

	 	if(model_id === undefined || model_id === 0 || model_id === null)
	  { 
	    $("#danger_template").show();
	    setTimeout(function(){
	        $('#danger_template').hide();
	    },5000);
	    error = true;
	  }

	 	if(vendor_id === "")
	  { 
	    $("#danger_vendor").show();
	    setTimeout(function(){
	        $('#danger_vendor').hide();
	    },5000);
	    error = true;
	  }


	  return error;
	}


</script>

  

