<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Sevan</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
			<li> &nbsp; - Sevan Order: <%= @order.order_number %></li>
		</ol>	
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 class="text-info">Order Number - <%= @order.order_number %></h2>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Vendor: </label> <%= @order.vendor.name %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Lot: </label> <%= @order.lot.number %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Porject: </label> <%= @order.project.name %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Model: </label> <%= @model %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Time Needed By: </label> <%= Order.TimeNeededBy(@order.time_needed_by) %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Delivery Date: </label> <%= @order.delivery_date.nil? ? 'Error Date' : @order.delivery_date.strftime("%m/%d/%Y") %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Order By: </label> <%= @order.user.first_name %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Time Order Made: </label> <%= @order.created_at.strftime("%m/%d/%Y - %H:%M") %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Status: </label> <span id="order_status"><%= Order.order_status(@order.status) %><span>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Order Total: </label> <strong id="total_order"><%= @order.order_total %> $</strong>
	</div>
</div>
<br>

<div class="row" id="order_details">
	<div class="col-lg-4 col-md-4 col-sm-12">
		<h2 class="text-info">Purchase Order Details</h2>
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12" style="padding-bottom: 10px">

    <% if @order.status != Order::Status[:saved] %>
	    <button type="button" class="btn btn-outline-info" disabled="true">
	    	<i class="fa fa-plus"></i> Add New
	    </button>
			<button id="send_email" type="button" class="btn btn-outline-info" disabled="true">
      	<i class="fa fa-envelope-o"></i> Order Sent
    	</button>
    <% elsif @order.status == Order::Status[:deleted] %>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<h2 class="text-danger">This Order was deleted</h2>
		</div>
    <% else %>
    	<button id="delete_order" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#removeOrder">
	    	<i class="fa fa-trash"></i> Delete Order
	    </button>
	    <button id="new_item" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addOrderItem">
	    	<i class="fa fa-plus"></i> Add New
	    </button>
    	<button id="send_email" type="button" class="btn btn-outline-info" onclick="sendOrderMail()">
      		<i class="fa fa-envelope-o"></i> Send Order
    	</button>
    <% end %>
	</div>    
	<% if !@order.order_details.blank? %>
		<% @order.order_details.each do |item| %>
			<div class="col-lg-4 col-md-6">
        <a onclick="EditOrderItem(this)" class="edit-item-order" style="cursor: pointer;">
          <div class="card" data-item-id="<%= item.id %>" data-quantity="<%= item.quantity %>" data-price="<%= item.price %>">
            <div class="d-flex flex-row">
              <div class="p-20">
                <h5 class="m-b-0 text-info">$<%= item.total %></h5>
              </div>
              <div class="align-self-center m-l-20">
                <small class="text-muted m-b-0"><%= item.product.name %></small><br>
                <small class="text-muted m-b-0">$<%= item.price %></small>
                <small class="text-muted m-b-0">Q<%= item.quantity %></small>
              </div>
            </div>
          </div>
        </a>
      </div>
	  <% end %>
	<% else %>
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-info" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-info">
          <i class="fa fa-exclamation-circle"></i> Information
        </h3> 
        There are no products related to this order, please go and add some.
      </div>
    </div>
	<% end %>
</div>

<!-- Modals -->
<div class="modal fade" id="removeOrder" role="dialog" aria-labelledby="removeOrder">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Delete Order</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <p>Are you sure that you want to remove this order?</p>
               <div class="alert" id="order_remove_alert" style="display: none"></div>
          	</form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="removeOrder()" ontype="button" class="btn btn-danger waves-effect waves-light">Remove</button>
          </div>
      </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addOrderItem" role="dialog" aria-labelledby="addOrderItem">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Add Item to order</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <select id="add-products"></select>
                  <span class="label label-danger" style="display: none" id="danger_product">Product is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Quantity:</label>
                  <input type="number" class="form-control" id="order_quantity">
                  <span class="label label-danger" style="display: none" id="danger_quantity">Quantity is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Unit Price:</label>
                  <input type="number" class="form-control" id="order_price">
                  <span class="label label-danger" style="display: none" id="danger_price"></span>
              </div>
              <div class="alert" id="order_new_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addNewItemToOrder()" ontype="button" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editOrderItem" role="dialog" aria-labelledby="editOrderItem">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Edit Item to order</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <input type="text" class="form-control" id="order_edit_product" readonly="true">
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Quantity:</label>
                  <input type="number" class="form-control" id="order_edit_quantity">
                  <span class="label label-danger" style="display: none" id="danger_edit_quantity">Quantity is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Unit Price:</label>
                  <input type="number" class="form-control" id="order_edit_price">
                  <span class="label label-danger" style="display: none" id="danger_edit_price"></span>
              </div>
              <div class="alert" id="order_edit_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <% if @order.status == Order::Status[:saved] %>
              	<button onclick="removeItemOrder()" ontype="button" class="btn btn-danger waves-effect waves-light">Remove Item</button>
              	<button onclick="editItemOrder()" ontype="button" class="btn btn-danger waves-effect waves-light">Edit</button>
              <% end %>
          </div>
      </div>
  </div>
</div>

<!-- Message Modal -->
<div id="messageModal" class="modal fade" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Alert Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="success_alert" class="alert alert-success" role="alert" style="display:none">
								  <p id="success_message"></p>
								</div>
								<div id="fail_alert" class="alert alert-danger" role="alert" style="display:none">
									<p id="error_message"></p>
								</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

	var idItemForEditing = 0;
	var itemOrderElement = "";

	$(document).ready(function(){

	  $("#add-products").select2({
	    theme: "bootstrap",
	    ajax:{
	      url: "<%= search_products_path %>",
	      dataType: 'json',
	      data: function(params){
	        return{
	          q: params.term
	        };
	      },
	      processResults: function (data) {
	        return {
	            results: data.data
	        };
	      },
	    },
	    minimumInputLength: 3,
	    placeholder: {
	      id: '-1',
	      text: 'Enter product name ...'
	    },
	    escapeMarkup: function (markup) {
	      return markup;
	    },
	    templateResult: function (product) {
	      if (product.loading) return 'product.name';
	      return $("<div>"+ product.name +"</div>")
	    }, 
	    templateSelection: function (product) {
	      if (product === '' || product === null){
	          return '<span>Enter product name ...</span>';
	      }
	      return $("<span>"+ product.name +"</span>")
	    }
	  });
	});

	function removeOrder(){
		order_id = <%= @order.id %>
		$.ajax({
	      url: "<%= remove_order_path %>",
	      method: "POST",
	      data: {order_id: order_id},
	      success: function (data) {
	        if(data.success){
	        	window.location.replace("<%= root_path %>")
	        }else{
	          $("#order_remove_alert").empty();
	          $("#order_remove_alert").removeClass("alert-success");
	          $("#order_remove_alert").addClass("alert-danger");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#order_remove_alert").append(message);
	          $("#order_new_alert").show();
	          setTimeout(function(){
	            $("#order_remove_alert").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#order_remove_alert").empty();
	        $("#order_remove_alert").removeClass("alert-success");
	        $("#order_remove_alert").addClass("alert-danger");
	        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                  <span aria-hidden="true">×</span>\
	                  </button>';
	        $("#order_remove_alert").append(message);
	        $("#order_remove_alert").show();
	        setTimeout(function(){
	          $("#order_remove_alert").hide();
	        },5000);
	      }
	    })
	}

	function addNewItemToOrder(){
		if (!validateItemOrderData()){
	   	product_id = $('#add-products :selected').val();
	  	quantity = parseInt($("#order_quantity").val());
  		price = parseFloat($("#order_price").val());
  		total = (quantity * price);
	    order_id = <%= @order.id %>

	    order_object = {
	      order_detail : {
	        product_id: product_id,
	        quantity: quantity,
	        price: price,
	        order_id: order_id,
	        total: total
	      }
	    }

	    $.ajax({
	      url: "<%= add_item_path %>",
	      method: "POST",
	      data: order_object,
	      success: function (data) {
	        if(data.success){
	          appendOrderItem(data.order_detail_id);
	          $("#total_order").text("");
	          $("#total_order").text(data.order_total + " $");
	          $("#order_new_alert").empty();
	          $("#order_new_alert").removeClass("alert-danger");
	          $("#order_new_alert").addClass("alert-success");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#order_new_alert").append(message);
	          $("#order_new_alert").show();
	          setTimeout(function(){
	            $("#order_new_alert").hide();
	            $("#addOrderItem").modal('hide');
	          },5000);
	        }else{
	          $("#order_new_alert").empty();
	          $("#order_new_alert").removeClass("alert-success");
	          $("#order_new_alert").addClass("alert-danger");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#order_new_alert").append(message);
	          $("#order_new_alert").show();
	          setTimeout(function(){
	            $("#order_new_alert").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#order_new_alert").empty();
	        $("#order_new_alert").removeClass("alert-success");
	        $("#order_new_alert").addClass("alert-danger");
	        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                  <span aria-hidden="true">×</span>\
	                  </button>';
	        $("#order_new_alert").append(message);
	        $("#order_new_alert").show();
	        setTimeout(function(){
	          $("#order_new_alert").hide();
	        },5000);
	      }
	    })
	  }
	}

	function appendOrderItem(detail_item_id){
		product_name = $('#add-products').select2('data')[0].name;
	  quantity = parseInt($("#order_quantity").val());
  	price = parseFloat($("#order_price").val());
  	total = (quantity * price);

	  var element = '<div class="col-lg-4 col-md-6">\
        						<a onclick="EditOrderItem(this)" class="edit-item-order" style="cursor: pointer;">\
          						<div class="card" data-item-id="'+detail_item_id+'" data-quantity="'+quantity+'" data-price="'+price+'">\
            						<div class="d-flex flex-row">\
              						<div class="p-20">\
                						<h5 class="m-b-0 text-info">$'+total+'</h5>\
              						</div>\
              						<div class="align-self-center m-l-20">\
                						<small class="text-muted m-b-0">'+product_name+'</small><br>\
                						<small class="text-muted m-b-0">$'+price+'</small>\
                						<small class="text-muted m-b-0">Q'+quantity+'</small>\
              						</div>\
            						</div>\
          						</div>\
        						</a>\
      						</div>';

	  $("#order_details").append(element);
	  $("#quantity").val("");
	  $("#order_price").val("");
	}

	function validateItemOrderData(){
	  product_id = $('#add-products :selected').val();
	  quantity = parseInt($("#order_quantity").val());
  	price = parseFloat($("#order_price").val());
	  error = false;

	  if(product_id === "" || product_id === undefined)
	  { 
	    $("#danger_product").show();
	    setTimeout(function(){
	        $('#danger_product').hide();
	    },5000);
	    error = true;
	  }

	  if(quantity === "" || quantity === 0)
	  { 
	    $("#danger_quantity").show();
	    setTimeout(function(){
	        $('#danger_quantity').hide();
	    },5000);
	    error = true;
	  }

	  if(price === "" || price === 0)
	  { 
	    $("#danger_price").show();
	    setTimeout(function(){
	        $('#danger_price').hide();
	    },5000);
	    error = true;
	  }

	  return error;
	}

	function EditOrderItem(element){
	  idItemForEditing = $(element).find(".card").attr("data-item-id");
	  quantity = $(element).find(".card").attr("data-quantity");
	  price = $(element).find(".card").attr("data-price");
	  itemOrderElement = element;
	  small_elements = $(element).find("small");
	  product_name = small_elements[0].innerText;
	  $('#order_edit_product').val(product_name);
	  $('#order_edit_quantity').val(quantity);
	  $('#order_edit_price').val(price);
	  $('#editOrderItem').modal('show');
	}

	function editItemOrder(){
		if (!validateItemEditOrderData()){
	  	quantity = parseInt($("#order_edit_quantity").val());
  		price = parseFloat($("#order_edit_price").val());
  		total = (quantity * price);

	    order_object = {
	      order_detail : {
	        id: idItemForEditing,
	        quantity: quantity,
	        price: price,
	        total: total
	      }
	    }

	    $.ajax({
	      url: "<%= edit_order_item_path %>",
	      method: "POST",
	      data: order_object,
	      success: function (data) {
	        if(data.success){
	          updateOrderItem();
	          $("#total_order").text("");
	          $("#total_order").text(data.order_total + " $");
	          $("#order_edit_alert").empty();
	          $("#order_edit_alert").removeClass("alert-danger");
	          $("#order_edit_alert").addClass("alert-success");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#order_edit_alert").append(message);
	          $("#order_edit_alert").show();
	          setTimeout(function(){
	            $("#order_edit_alert").hide();
	            $("#editOrderItem").modal('hide');
	          },5000);
	        }else{
	          $("#order_edit_alert").empty();
	          $("#order_edit_alert").removeClass("alert-success");
	          $("#order_edit_alert").addClass("alert-danger");
	          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                    <span aria-hidden="true">×</span>\
	                    </button>';
	          $("#order_edit_alert").append(message);
	          $("#order_edit_alert").show();
	          setTimeout(function(){
	            $("#order_edit_alert").hide();
	          },5000);
	        }
	      },
	      error: function (data) {
	        $("#order_edit_alert").empty();
	        $("#order_edit_alert").removeClass("alert-success");
	        $("#order_edit_alert").addClass("alert-danger");
	        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
	                  <span aria-hidden="true">×</span>\
	                  </button>';
	        $("#order_edit_alert").append(message);
	        $("#order_edit_alert").show();
	        setTimeout(function(){
	          $("#order_edit_alert").hide();
	        },5000);
	      }
	    })
	  }
	}

	function updateOrderItem(){
		product_name = $("#order_edit_product").val();
		id = $(itemOrderElement).find(".card").attr("data-item-id");
		quantity = parseInt($("#order_edit_quantity").val());
  	price = parseFloat($("#order_edit_price").val());
  	total = (quantity * price);
  	var element = '<div class="col-lg-4 col-md-6">\
        						<a onclick="EditOrderItem(this)" class="edit-item-order" style="cursor: pointer;">\
          						<div class="card" data-item-id="'+id+'" data-quantity="'+quantity+'" data-price="'+price+'">\
            						<div class="d-flex flex-row">\
              						<div class="p-20">\
                						<h5 class="m-b-0 text-info">$'+total+'</h5>\
              						</div>\
              						<div class="align-self-center m-l-20">\
                						<small class="text-muted m-b-0">'+product_name+'</small><br>\
                						<small class="text-muted m-b-0">$'+price+'</small>\
                						<small class="text-muted m-b-0">Q'+quantity+'</small>\
              						</div>\
            						</div>\
          						</div>\
        						</a>\
      						</div>';

	  $("#order_details").append(element);
  	$(itemOrderElement).parent().remove();
  	itemOrderElement = "";
  	itemOrderElement = 0;
	}

	function validateItemEditOrderData(){
	  quantity = parseInt($("#order_edit_quantity").val());
  	price = parseFloat($("#order_edit_price").val());
	  error = false;

	  if(quantity === "" || quantity === 0)
	  { 
	    $("#danger_edit_quantity").show();
	    setTimeout(function(){
	        $('#danger_edit_quantity').hide();
	    },5000);
	    error = true;
	  }

	  if(price === "" || price === 0)
	  { 
	    $("#danger_edit_price").show();
	    setTimeout(function(){
	        $('#danger_edit_price').hide();
	    },5000);
	    error = true;
	  }

	  return error;
	}

	function removeItemOrder(){
    $.ajax({
      url: "<%= remove_order_item_path %>",
      method: "DELETE",
      data: {id: idItemForEditing},
      success: function (data) {
        if(data.success){
          $("#success_message").empty();
          $("#success_message").append(data.data);
          $("#success_alert").show();
          $("#total_order").text("");
	        $("#total_order").text(data.order_total + " $");
          $("#messageModal").modal('show');
          $(itemOrderElement).parent().remove();
          setTimeout(function(){
            $("#success_alert").hide();
            $("#messageModal").modal('hide');
          },5000);
        }else{
          $("#error_message").empty();
					$("#error_message").append(data.data);
          $("#fail_alert").show();
          $("#messageModal").modal('show')
          setTimeout(function(){
            $("#fail_alert").hide();
            $("#messageModal").modal('hide');
          },5000);
        }
      },
      error: function (data) {
        $("#error_message").empty();
				$("#error_message").append(data.data);
        $("#fail_alert").show();
        $("#messageModal").modal('show')
        setTimeout(function(){
          $("#fail_alert").hide();
          $("#messageModal").modal('hide');
        },5000);
      }
    })
	}

	function sendOrderMail(){
	  order_id = <%= @order.id %>
	  $.ajax({
      url: "<%= send_mail_path %>",
      method: "POST",
      data: {id: order_id},
      success: function (data) {
        if(data.success){
          $("#success_message").empty();
          $("#success_message").append(data.data);
          $("#success_alert").show();
          $("#messageModal").modal('show');
          $("#new_item").attr("disabled", true);
          $("#send_email").attr("disabled", true);
          $("#order_status").empty();
          $("#order_status").append("Sent");
          setTimeout(function(){
            $("#success_alert").hide();
            $("#messageModal").modal('hide');
          },5000);
        }else{
          $("#error_message").empty();
					$("#error_message").append(data.data);
          $("#fail_alert").show();
          $("#messageModal").modal('show')
          setTimeout(function(){
            $("#fail_alert").hide();
            $("#messageModal").modal('hide');
          },5000);
        }
      },
      error: function (data) {
        $("#error_message").empty();
				$("#error_message").append(data.data);
        $("#fail_alert").show();
        $("#messageModal").modal('show')
        setTimeout(function(){
          $("#fail_alert").hide();
          $("#messageModal").modal('hide');
        },5000);
      }
    })
	}


</script>