<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Sevan</h3>
		<ol class="breadcrumb">
	  	<li class="breadcrumb-item"><a href="<%= vendors_path %>">Vendors</a></li>
	    <li> &nbsp; - <%= @vendor.name %></li>
	  </ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12">
		<h2 class="text-info"><%= @vendor.name %></h2>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">State: </label> <%= @vendor.state %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Address 1: </label> <%= @vendor.address1 %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Zip Code: </label> <%= @vendor.zipcode %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Address 2: </label> <%= @vendor.address2 %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Phone: </label> <%= @vendor.phone %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">City: </label> <%= @vendor.city %>
	</div>
	<div class="col-md-4 col-sm-12">
		<label class="font-weight-bold">Fax: </label> <%= @vendor.fax %>
	</div>
	<div class="col-md-12 col-sm-12">
		<button onclick="editVendor()" type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i> Edit Vendor</button>
	</div>
</div>
<br><br>
<div class="row" id="vendor_emails">
	<div class="col-md-12 col-sm-12" style="display: -webkit-inline-box;">
		<h2 class="text-info">Vendor Emails</h2>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#newVendorEmail">
      <i class="fa fa-plus"></i> Add New
    </button>
	</div>
	<% if !@vendor.vendor_emails.blank? %>
		<% @vendor.vendor_emails.where(:status => Vendor::Status[:active]).each do |email| %>
			<div class="col-lg-4 col-md-6">
				<a onclick="openModalVendorEmail(this)" class="edit-vendor-email" style="cursor: pointer;">
		    	<div class="card" data-email-id="<%= email.id %>" data-email-status="<%= email.status %>">
		        <div class="d-flex flex-row">
		          <div class="p-10 bg-info">
		             <h3 class="text-white box m-b-0">
		             <i class="ti-email"></i>
		            </h3>
		          </div>
		          <div class="align-self-center m-l-20">
		            <h5 class="text-muted m-b-0"><%= email.description %></h5>
		            <small class="m-b-0 text-info"><%= email.email %></small>
		            <h6 class="text-muted m-b-0"><%= email.name %></h6>
		          </div>
		        </div>
		      </div>
	    	</a>
	    </div>
	  <% end %>
	<% else %>
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-info" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-info">
          <i class="fa fa-exclamation-circle"></i> Information
        </h3> 
        There are no emails related to this vendor, please go and create some.
      </div>
    </div>
	<% end %>
</div>

<br>
<div class="row" id="vendor_products">
  <div class="col-md-12 col-sm-12" style="display: -webkit-inline-box;">
    <h2 class="text-info">Vendor Products</h2>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#newVendorProduct">
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>
  <% if !@vendor.product_vendors.blank? %>
    <% @vendor.product_vendors.where(:status => ProductVendor::Status[:active]).each do |product| %>
      <div class="col-lg-3 col-md-6">
        <a onclick="openModalVendorProduct(this)" class="edit-vendor-product" style="cursor: pointer;">
          <div class="card" data-id="<%= product.id %>" data-product-id="<%= product.product_id %>" data-product-status="<%= product.status %>">
            <div class="d-flex flex-row">
              <div class="p-20">
                <h5 class="m-b-0 text-info">
                  $<%= product.price %>
                </h5>
              </div>
              <div class="align-self-center m-l-20">
                <small class="text-muted m-b-0"><%= product.product.name %></small>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-info" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-info">
          <i class="fa fa-exclamation-circle"></i> Information
        </h3> 
        There are no products related to this vendor, please go and add some.
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="newVendorEmail" tabindex="-1" role="dialog" aria-labelledby="newVendorEmail">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">New Vendor Email</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="vendor_email_name">
                  <span class="label label-danger" style="display: none" id="danger_name">Vendor email name is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Description:</label>
                  <input type="text" class="form-control" id="vendor_email_desc">
                  <span class="label label-danger" style="display: none" id="danger_desc">Vendor description is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Email:</label>
                  <input type="text" class="form-control" id="vendor_email">
                  <span class="label label-danger" style="display: none" id="danger_email"></span>
              </div>
              <div class="alert" id="vendor_email_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addNewVendorEmail(<%= @vendor.id %>)" ontype="button" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editVendorEmail" tabindex="-1" role="dialog" aria-labelledby="editVendorEmail">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Vendor Email</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="edit_vendor_email_name" required>
                  <span class="label label-danger" style="display: none" id="danger_edit_name">Vendor email name is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Description:</label>
                  <input type="text" class="form-control" id="edit_vendor_email_desc" required>
                  <span class="label label-danger" style="display: none" id="danger_edit_desc">Vendor description is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Email:</label>
                  <input type="text" class="form-control" id="edit_vendor_email" required>
                  <span class="label label-danger" style="display: none" id="danger_edit_email"></span>
              </div>
              <div class="form-group">
               	<input type="checkbox" id="edit_vendor_email_status" class="filled-in">
						    <label for="edit_vendor_email_status">Active</label>
						  </div>
              <div class="alert" id="vendor_edit_email_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="editVendorEmail(<%= @vendor.id %>)" ontype="button" class="btn btn-primary waves-effect waves-light">Save</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="newVendorProduct" role="dialog" aria-labelledby="newVendorProduct">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Vendor Product</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <select id="add-products"></select>
                  <span class="label label-danger" style="display: none" id="danger_product">Product is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Price:</label>
                  <input type="number" class="form-control" id="vendor_product_price" required>
                  <span class="label label-danger" style="display: none" id="danger_price">Price is required!</span>
              </div>
              <div class="alert" id="vendor_product_alert" style="display: none">
              </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addVendorProduct()" ontype="button" class="btn btn-primary waves-effect waves-light">Add</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editVendorProduct" role="dialog" aria-labelledby="editVendorProduct">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Vendor Product</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <input type="text" class="form-control" id="edit_vendor_product_name" readonly="true">
                  <span class="label label-danger" style="display: none" id="danger_edit_product">Product is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Price:</label>
                  <input type="text" class="form-control" id="edit_vendor_product_price" required>
                  <span class="label label-danger" style="display: none" id="danger_edit_price">Price is required!</span>
              </div>
              <div class="form-group">
                <input type="checkbox" id="edit_vendor_product_status" class="filled-in" onclick="return false;">
                <label for="edit_vendor_product_status">Active</label>
              </div>
              <div class="alert" id="vendor_edit_product_alert" style="display: none">
              </div>
            </form>
            
          </div>
          <div class="modal-footer">
              <div class="col-md-6 pull-left">
                <button onclick="removeProduct()" type="button" class="btn btn-danger pull-left" >Remove</button> 
              </div>
              <div class="col-md-6 pull-left" style="text-align: right;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="editVendorProduct()" ontype="button" class="btn btn-primary waves-effect waves-light">Save</button>
              </div>
          </div>
      </div>
  </div>
</div>


<script type="text/javascript">

//For Vendor Emails
var idEmailForEditing = 0;
var statusEmail = 0;
var emailElement = "";

//For Vendor Products
var idProductForEditing = 0;
var idProduct = 0;
var statusProduct = 0;
var productElement = "";

$(document).ready(function(){

  $("#add-products").select2({
    theme: "bootstrap",
    ajax:{
      url: "<%= search_products_path %>",
      dataType: 'json',
      data: function(params){
        return{
          q: params.term
        };
      },
      processResults: function (data) {
        return {
            results: data.data
        };
      },
    },
    minimumInputLength: 3,
    placeholder: {
      id: '-1',
      text: 'Enter product name ...'
    },
    escapeMarkup: function (markup) {
      return markup;
    },
    templateResult: function (product) {
      if (product.loading) return 'product.name';
      return $("<div>"+ product.name +"</div>")
    }, 
    templateSelection: function (product) {
      if (product === '' || product === null){
          return '<span>Enter product name ...</span>';
      }
      return $("<span>"+ product.name +"</span>")
    }
  });

});

function openModalVendorProduct(element){
  idProductForEditing = $(element).find(".card").attr("data-id");
  idProduct = $(element).find(".card").attr("data-product-id");
  statusProduct = parseInt($(element).find(".card").attr("data-product-status"));
  productElement = element;
  product_name = $(element).find("small").text();
  price = $.trim($(element).find("h5").text());
  $('#edit_vendor_product_name').val(product_name);
  $('#edit_vendor_product_price').val(price.replace('$',''));
  $('#edit_vendor_product_status').prop('checked', statusProduct);
  $('#editVendorProduct').modal('show');
}

function addVendorProduct(){
  if (!validateProductData()){
    product_id = $('#add-products :selected').val();
    price = parseFloat($("#vendor_product_price").val());
    vendor_id = <%= @vendor.id %>

    vendor_product_object = {
      vendor_product : {
        id: 0,
        vendor_id: vendor_id,
        product_id: product_id,
        price: price
      }
    }

    $.ajax({
      url: "<%= vendor_product_path %>",
      method: "POST",
      data: vendor_product_object,
      success: function (data) {
        if(data.success){
          appendVendorProduct(data.id, product_id);
          $("#vendor_product_alert").empty();
          $("#vendor_product_alert").removeClass("alert-danger");
          $("#vendor_product_alert").addClass("alert-success");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#vendor_product_alert").append(message);
          $("#vendor_product_alert").show();
          setTimeout(function(){
            $("#vendor_product_alert").hide();
            $("#newVendorProduct").modal('hide');
          },5000);
        }else{
          $("#vendor_product_alert").empty();
          $("#vendor_product_alert").removeClass("alert-success");
          $("#vendor_product_alert").addClass("alert-danger");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#vendor_product_alert").append(message);
          $("#vendor_product_alert").show();
          setTimeout(function(){
            $("#vendor_product_alert").hide();
          },5000);
        }
      },
      error: function (data) {
        $("#vendor_product_alert").empty();
        $("#vendor_product_alert").removeClass("alert-success");
        $("#vendor_product_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#vendor_product_alert").append(message);
        $("#vendor_product_alert").show();
        setTimeout(function(){
          $("#vendor_product_alert").hide();
        },5000);
      }
    })
  }
}

function validateProductData(){
  product_id = $('#add-products :selected').val();
  price = parseFloat($("#vendor_product_price").val());
  error = false;

  if(product_id === "" || product_id === undefined || product_id === null)
  { 
    $("#danger_product").show();
    setTimeout(function(){
        $('#danger_product').hide();
    },5000);
    error = true;
  }

  if(isNaN(price) || price === null)
  { 
    $("#danger_price").show();
    setTimeout(function(){
        $('#danger_price').hide();
    },5000);
    error = true;
  }

  return error;
}

function removeProduct(){
  $.ajax({
    url: "<%= remove_product_vendor_path %>",
    method: "DELETE",
    data: {id: idProductForEditing},
    success: function (data) {
      if(data.success){
        $(productElement).remove()
        $("#editVendorProduct").modal('hide');
      }else{
        $("#vendor_edit_product_alert").empty();
        $("#vendor_edit_product_alert").removeClass("alert-success");
        $("#vendor_edit_product_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#vendor_edit_product_alert").append(message);
        $("#vendor_edit_product_alert").show();
      }
    },
    error: function (data) {
      $("#vendor_edit_product_alert").empty();
      $("#vendor_edit_product_alert").removeClass("alert-success");
      $("#vendor_edit_product_alert").addClass("alert-danger");
      message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                <span aria-hidden="true">×</span>\
                </button>';
      $("#vendor_edit_product_alert").append(message);
      $("#vendor_edit_product_alert").show();
    }

  })
}

function editVendorProduct(){
  price = parseFloat($("#edit_vendor_product_price").val());
  product_status = $("#edit_vendor_product_status").is(":checked");
  product_status = product_status == true ? 1 : 0;
  vendor_id = <%= @vendor.id %>

  if (!isNaN(price) || price !== null){
    vendor_product_object = {
      vendor_product : {
        id: idProductForEditing,
        vendor_id: vendor_id,
        product_id: idProduct,
        price: price,
        status: product_status
      }
    }

    $.ajax({
      url: "<%= vendor_product_path %>",
      method: "POST",
      data: vendor_product_object,
      success: function (data) {
        if(data.success){
          updateProductElement();
          $("#vendor_edit_product_alert").empty();
          $("#vendor_edit_product_alert").removeClass("alert-danger");
          $("#vendor_edit_product_alert").addClass("alert-success");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#vendor_edit_product_alert").append(message);
          $("#vendor_edit_product_alert").show();
          setTimeout(function(){
            $("#vendor_edit_product_alert").hide();
            $("#editVendorProduct").modal('hide');
          },5000);
        }else{
          $("#vendor_edit_product_alert").empty();
          $("#vendor_edit_product_alert").removeClass("alert-success");
          $("#vendor_edit_product_alert").addClass("alert-danger");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#vendor_edit_product_alert").append(message);
          $("#vendor_edit_product_alert").show();
          setTimeout(function(){
            $("#vendor_edit_product_alert").hide();
          },5000);
        }
      },
      error: function (data) {
        $("#vendor_edit_product_alert").empty();
        $("#vendor_edit_product_alert").removeClass("alert-success");
        $("#vendor_edit_product_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#vendor_edit_product_alert").append(message);
        $("#vendor_edit_product_alert").show();
        setTimeout(function(){
          $("#vendor_edit_product_alert").hide();
        },5000);
      }
    })
  }else{
    $("#danger_edit_price").show();
    setTimeout(function(){
        $('#danger_edit_price').hide();
    },5000);
  }
}

function updateProductElement(){
  price = "$" + $.trim($("#edit_vendor_product_price").val());
  $(productElement).find("h5").text(price);
  productElement = "";
  idProduct = 0;
  idProductForEditing = 0;
}

function appendVendorProduct(record_id, product_id){
  price = $("#vendor_product_price").val();
  product_name = $('#add-products').select2('data')[0].name;

  var element = '<div class="col-lg-3 col-md-6">\
                  <a onclick="openModalVendorProduct(this)" class="edit-vendor-product" style="cursor: pointer;">\
                    <div class="card" data-id="'+ record_id +'" data-product-id="' + product_id +'" data-product-status="1">\
                      <div class="d-flex flex-row">\
                        <div class="p-20">\
                          <h5 class="m-b-0 text-info">$' + price + '</h5>\
                        </div>\
                        <div class="align-self-center m-l-20">\
                          <small class="text-muted m-b-0">' + product_name +'</small>\
                        </div>\
                      </div>\
                    </div>\
                  </a>\
                </div>';

  $("#vendor_products").append(element);
  $("#vendor_product_price").val("");
}

function openModalVendorEmail(element){
	idEmailForEditing = $(element).find(".card").attr("data-email-id");
	statusEmail = parseInt($(element).find(".card").attr("data-email-status"));
	emailElement = element;
	description = $(element).find("h5").text();
	name = $(element).find("h6").text();
	email = $(element).find("small").text();
  $('#edit_vendor_email_name').val(name);
  $('#edit_vendor_email_desc').val(description);
  $('#edit_vendor_email').val(email);
  $('#edit_vendor_email_status').prop('checked', statusEmail);
  $('#editVendorEmail').modal('show');
}

function editVendorEmail(vendor_id){
	if (!validateEditEmailData()){
		name = $.trim($("#edit_vendor_email_name").val());
  	description = $.trim($("#edit_vendor_email_desc").val());
  	email = $.trim($("#edit_vendor_email").val());
  	email_status = $("#edit_vendor_email_status").is(":checked");
  	email_status = email_status == true ? 1 : 0;

  	vendor_email_object = {
			vendor_email : {
				id: idEmailForEditing,
				name: name,
				description: description,
				email: email,
				vendor_id: vendor_id,
				status: email_status
			}
		}

		$.ajax({
      url: "<%= vendor_email_path %>",
      method: "POST",
      data: vendor_email_object,
      success: function (data) {
        if(data.success){
        	updateEmailElement();
        	$("#vendor_edit_email_alert").empty();
        	$("#vendor_edit_email_alert").removeClass("alert-danger");
        	$("#vendor_edit_email_alert").addClass("alert-success");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#vendor_edit_email_alert").append(message);
					$("#vendor_edit_email_alert").show();
					setTimeout(function(){
						$("#vendor_edit_email_alert").hide();
            $("#editVendorEmail").modal('hide');
          },5000);
        }else{
        	$("#vendor_edit_email_alert").empty();
        	$("#vendor_edit_email_alert").removeClass("alert-success");
        	$("#vendor_edit_email_alert").addClass("alert-danger");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#vendor_edit_email_alert").append(message);
					$("#vendor_edit_email_alert").show();
					setTimeout(function(){
            $("#vendor_edit_email_alert").hide();
          },5000);
        }
      },
      error: function (data) {
      	$("#vendor_edit_email_alert").empty();
      	$("#vendor_edit_email_alert").removeClass("alert-success");
      	$("#vendor_edit_email_alert").addClass("alert-danger");
      	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
									<span aria-hidden="true">×</span>\
									</button>';
				$("#vendor_edit_email_alert").append(message);
				$("#vendor_edit_email_alert").show();
				setTimeout(function(){
        	$("#vendor_edit_email_alert").hide();
        },5000);
      }
	  })
	}
}
    
function editVendor() {
  window.location.href = "<%= edit_vendor_path(@vendor.id) %>"
}

function addNewVendorEmail(vendor_id){
	if (!validateEmailData()){
		name = $.trim($("#vendor_email_name").val());
  	description = $.trim($("#vendor_email_desc").val());
  	email = $.trim($("#vendor_email").val());

  	vendor_email_object = {
			vendor_email : {
				id: 0,
				name: name,
				description: description,
				email: email,
				vendor_id: vendor_id
			}
		}

		$.ajax({
      url: "<%= vendor_email_path %>",
      method: "POST",
      data: vendor_email_object,
      success: function (data) {
        if(data.success){
        	appendVendorEmail();
        	$("#vendor_email_alert").empty();
        	$("#vendor_email_alert").removeClass("alert-danger");
        	$("#vendor_email_alert").addClass("alert-success");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#vendor_email_alert").append(message);
					$("#vendor_email_alert").show();
					setTimeout(function(){
						$("#vendor_email_alert").hide();
            $("#newVendorEmail").modal('hide');
          },5000);
        }else{
        	$("#vendor_email_alert").empty();
        	$("#vendor_email_alert").removeClass("alert-success");
        	$("#vendor_email_alert").addClass("alert-danger");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#vendor_email_alert").append(message);
					$("#vendor_email_alert").show();
					setTimeout(function(){
            $("#vendor_email_alert").hide();
          },5000);
        }
      },
      error: function (data) {
      	$("#vendor_email_alert").empty();
      	$("#vendor_email_alert").removeClass("alert-success");
      	$("#vendor_email_alert").addClass("alert-danger");
      	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
									<span aria-hidden="true">×</span>\
									</button>';
				$("#vendor_email_alert").append(message);
				$("#vendor_email_alert").show();
				setTimeout(function(){
        	$("#vendor_email_alert").hide();
        },5000);
      }
	  })
	}
}

function appendVendorEmail(){
	name = $.trim($("#vendor_email_name").val());
  description = $.trim($("#vendor_email_desc").val());
  email = $.trim($("#vendor_email").val());

  var element = '<div class="col-lg-4 col-md-6">\
	    						<div class="card">\
	        					<div class="d-flex flex-row">\
	          					<div class="p-10 bg-info">\
	             					<h3 class="text-white box m-b-0">\
	             						<i class="ti-email"></i>\
	            					</h3>\
	          					</div>\
	          					<div class="align-self-center m-l-20">\
	            					<h6 class="text-muted m-b-0">' + description + '</h6>\
	            					<small class="m-b-0 text-info">' + email + '</small>\
	            					<h6 class="text-muted m-b-0">' + name + '</h6>\
	          					</div>\
	        					</div>\
	      					</div>\
	    					</div>';

	$("#vendor_emails").append(element);
	$("#vendor_email_name").val("");
  $("#vendor_email_desc").val("");
  $("#vendor_email").val("");
}

function updateEmailElement(){
	name = $.trim($("#edit_vendor_email_name").val());
  description = $.trim($("#edit_vendor_email_desc").val());
  email = $.trim($("#edit_vendor_email").val());
	$(emailElement).find("h5").text(description);
	$(emailElement).find("h6").text(name);
	$(emailElement).find("small").text(email);
  emailElement = "";
  idEmailForEditing = 0;
}

function validateEmailData(){
	vendor_email_name = $.trim($("#vendor_email_name").val());
  vendor_email_desc = $.trim($("#vendor_email_desc").val());
  vendor_email = $.trim($("#vendor_email").val());
  error = false;

	if(vendor_email_name.length === 0)
	{ 
    $("#danger_name").show();
    setTimeout(function(){
        $('#danger_name').hide();
    },5000);
    error = true;
	}

	if(vendor_email_desc.length === 0)
	{ 
    $("#danger_desc").show();
    setTimeout(function(){
        $('#danger_desc').hide();
    },5000);
    error = true;
	}

	if(vendor_email.length === 0)
	{	
		$("#danger_email").text("Vendor Email is required!!");
	  $("#danger_email").show();
    setTimeout(function(){
      $("#danger_email").hide();
    },5000);
    error = true;
	}
	else
	{
    email_regex = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)
    if (!email_regex.test(vendor_email)) {
    	$("#danger_email").text("Enter a valid email");
			$("#danger_email").show();
			setTimeout(function(){
				("#danger_email").hide();
			},5000);
			error = true; 
    }
	}

	return error;
}

function validateEditEmailData(){
	vendor_email_name = $.trim($("#edit_vendor_email_name").val());
  vendor_email_desc = $.trim($("#edit_vendor_email_desc").val());
  vendor_email = $.trim($("#edit_vendor_email").val());
  error = false;

	if(vendor_email_name.length === 0)
	{ 
    $("#danger_edit_name").show();
    setTimeout(function(){
        $('#danger_edit_name').hide();
    },5000);
    error = true;
	}

	if(vendor_email_desc.length === 0)
	{ 
    $("#danger_edit_desc").show();
    setTimeout(function(){
        $('#danger_edit_desc').hide();
    },5000);
    error = true;
	}

	if(vendor_email.length === 0)
	{	
		$("#danger_edit_email").text("Vendor Email is required!!");
	  $("#danger_edit_email").show();
    setTimeout(function(){
      $("#danger_edit_email").hide();
    },5000);
    error = true;
	}
	else
	{
    email_regex = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/)
    if (!email_regex.test(vendor_email)) {
    	$("#danger_edit_email").text("Enter a valid email");
			$("#danger_edit_email").show();
			setTimeout(function(){
				("#danger_edit_email").hide();
			},5000);
			error = true; 
    }
	}

	return error;
}

</script>


