
<div class="login-register" style="background-color: #333;">
  <div class="login-box card">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal form-material',role: 'form' }) do |f| %>
        <h3 class="box-title m-b-20">Log In</h3>
        
        <div class="form-group">
          <div class="col-xs-12">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder:"Username" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: "Password" %>
          </div>
        </div>

        <%# if devise_mapping.rememberable? %>
          <!--<div class="checkbox">
            <%#= f.label :remember_me do %>
              <%#= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
            <%# end %>
          </div>-->
        <%# end %>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <%= f.button 'Log In', class: 'btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light' , type: 'submit' %>
          </div>
        </div>
        <%= bootstrap_flash %>
        <%#= render 'devise/shared/links' %>
      <% end %>  
    </div>  
  </div>
</div>

