<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Emrich Victory Plastering</h3>
		<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
		<li> &nbsp; - Units</li>
	  </ol>
	</div>
</div>

<div class="row" id="units">
  <div class="col-md-12 col-sm-12" style="display: -webkit-inline-box;">
    <h2 class="text-info">Admin Units</h2>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalNewUnit">
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>
  <% if !@units.blank? %>
    <% @units.each do |unit| %>
      <div class="col-lg-2 col-md-4">
        <a onclick="openModalUnit(this)" class="edit-unit" style="cursor: pointer;">
          <div class="card" data-id="<%= unit.id %>">
            <div class="d-flex flex-row">
              <div class="align-self-center m-l-20">
                <small class="text-muted m-b-0"><%= unit.name %></small>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  <% else %>
    <div class="col-md-12 col-sm-12">
      <div class="alert alert-info" style="width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-info">
          <i class="fa fa-exclamation-circle"></i> Information
        </h3> 
        There are no units created yet, please go and add some.
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="modalNewUnit" tabindex="-1" role="dialog" aria-labelledby="modalNewUnit">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">Add new unit</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="unit_name">
                  <span class="label label-danger" style="display: none" id="danger_name">Unit name is required!</span>
              </div>
              <div class="alert" id="unit_alert" style="display: none">
              </div>
          	</form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addNewUnit()" ontype="button" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editUnit" role="dialog" aria-labelledby="editUnit">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit Unit</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Product:</label>
                  <input type="text" class="form-control" id="edit_unit_name">
                  <span class="label label-danger" style="display: none" id="danger_unit_name">Unit name is required!</span>
              </div>
              <div class="alert" id="unit_edit_alert" style="display: none">
              </div>
            </form>
            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="editUnit()" ontype="button" class="btn btn-primary waves-effect waves-light">Edit</button>
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">

var idUnitForEditing = 0;
var unitElement = "";
	
function addNewUnit() {
	name = $.trim($("#unit_name").val());
	if (name != "" && name != undefined && name != null){
  	unit_object = {
			unit : {
				unit_id: 0,
				name: name,
			}
		}

		$.ajax({
      url: "<%= admin_unit_path %>",
      method: "POST",
      data: unit_object,
      success: function (data) {
        if(data.success){
        	appendUnit(data.unit_id);
        	$("#unit_alert").empty();
        	$("#unit_alert").removeClass("alert-danger");
        	$("#unit_alert").addClass("alert-success");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#unit_alert").append(message);
					$("#unit_alert").show();
					setTimeout(function(){
						$("#unit_alert").hide();
            $("#modalNewUnit").modal('hide');
          },5000);
        }else{
        	$("#unit_alert").empty();
        	$("#unit_alert").removeClass("alert-success");
        	$("#unit_alert").addClass("alert-danger");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#unit_alert").append(message);
					$("#unit_alert").show();
					setTimeout(function(){
            $("#unit_alert").hide();
          },5000);
        }
      },
      error: function (data) {
      	$("#unit_alert").empty();
      	$("#unit_alert").removeClass("alert-success");
      	$("#unit_alert").addClass("alert-danger");
      	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
									<span aria-hidden="true">×</span>\
									</button>';
				$("#unit_alert").append(message);
				$("#unit_alert").show();
				setTimeout(function(){
        	$("#unit_alert").hide();
        },5000);
      }
	  })
	}else
	{
		$("#danger_name").show();
    setTimeout(function(){
        $('#danger_name').hide();
    },5000);
	}
}

function appendUnit(unit_id){
  name = $.trim($("#unit_name").val());
  var element = '<div class="col-lg-2 col-md-4">\
        					<a onclick="openModalUnit(this)" class="edit-unit" style="cursor: pointer;">\
          					<div class="card" data-id="'+unit_id+'">\
            					<div class="d-flex flex-row">\
              					<div class="align-self-center m-l-20">\
                					<small class="text-muted m-b-0">'+name+'</small>\
              					</div>\
            					</div>\
          					</div>\
        					</a>\
      					</div>';

  $("#units").append(element);
  $("#unit_name").val("");
}

function openModalUnit(element){
  idUnitForEditing = $(element).find(".card").attr("data-id");
  unitElement = element;
  unit_name = $(element).find("small").text();
  $('#edit_unit_name').val(unit_name);
  $('#editUnit').modal('show');
}

function editUnit(){
	name = $.trim($("#edit_unit_name").val());
	if (name != "" && name != undefined && name != null){
  	unit_object = {
			unit : {
				unit_id: idUnitForEditing,
				name: name,
			}
		}

		$.ajax({
      url: "<%= admin_unit_path %>",
      method: "POST",
      data: unit_object,
      success: function (data) {
        if(data.success){
        	updateUnit();
        	$("#unit_edit_alert").empty();
        	$("#unit_edit_alert").removeClass("alert-danger");
        	$("#unit_edit_alert").addClass("alert-success");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#unit_edit_alert").append(message);
					$("#unit_edit_alert").show();
					setTimeout(function(){
						$("#unit_edit_alert").hide();
            $("#editUnit").modal('hide');
          },5000);
        }else{
        	$("#unit_edit_alert").empty();
        	$("#unit_edit_alert").removeClass("alert-success");
        	$("#unit_edit_alert").addClass("alert-danger");
        	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
										<span aria-hidden="true">×</span>\
										</button>';
					$("#unit_edit_alert").append(message);
					$("#unit_edit_alert").show();
					setTimeout(function(){
            $("#unit_edit_alert").hide();
          },5000);
        }
      },
      error: function (data) {
      	$("#unit_edit_alert").empty();
      	$("#unit_edit_alert").removeClass("alert-success");
      	$("#unit_edit_alert").addClass("alert-danger");
      	message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
									<span aria-hidden="true">×</span>\
									</button>';
				$("#unit_edit_alert").append(message);
				$("#unit_edit_alert").show();
				setTimeout(function(){
        	$("#unit_edit_alert").hide();
        },5000);
      }
	  })
	}else
	{
		$("#danger_unit_name").show();
    setTimeout(function(){
        $('#danger_unit_name').hide();
    },5000);
	}
}

function updateUnit(){
	name = $.trim($("#edit_unit_name").val());
	$(unitElement).find("small").text(name);
  unitElement = "";
  idUnitForEditing = 0;
}

</script>