<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">Emrich Victory Plastering</h3>
		<ol class="breadcrumb">
	  	<li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
	    <li> &nbsp; - Products</li>
	  </ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-xlg-6 m-b-30">
		<button type="btn-group button" class="btn btn-outline-info" data-toggle="modal" data-target="#newProduct">
			<i class="fa fa-plus"></i> Add new
		</button>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Product Options
      </button>
      <div class="dropdown-menu" x-placement="right-start">
        <a class="dropdown-item" data-toggle="modal" data-target="#prioritizeProduct">
          <i class="fa fa-pencil fa-fw"></i> Prioritize
        </a>
        <a class="dropdown-item" data-toggle="modal" data-target="#topProductsModel">
          <i class="fa fa-star fa-fw"></i> Top Products
        </a>
      </div>
    </div>
	</div>	
</div>

<div class="row" id="products">
	<% if !@products.blank? %>
		<% @products.where(:status => Product::Status[:active]).order(prioritize: :desc, name: :asc).each do |product| %>
  		<div class="col-lg-3 col-md-6 col-sm-12">
        <a onclick="openModalEditProduct(this)" style="cursor: pointer;">
          <div class="card" data-product-id="<%= product.id %>" data-product-status="<%= product.status %>">
            <div class="card-body" style="padding: 5px 10px 5px 10px;">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <small class="m-b-0"><%= product.name %></small>
                  <br/>
                  <span class="m-b-0" data-category-id="<%= product.category %>">
                  <%= product.category === 1 ? 'STUCCO' : 'FOAM' %>
                  </span>
                  <h4 class="text-muted m-b-0 text-info" data-unit-id="<%= product.unit_id %>">
                    <%= product.unit.name %>
                  </h4>
                  <h5 class="text-info">
                    <span class="badge <%= product.prioritize ? "badge-success" : "badge-warning" %>">
                      <%= product.prioritize ? "Prioritized" : "Not Prioritized" %>
                    </span>
                    <% if product.order_first_by != nil %>
                      <span class="badge badge-primary" data-toggle="tooltip" title="Top Product">
                        <%= product.order_first_by %> <i> P</i>
                      </span>
                    <% end %>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
		<% end %>
    <div class="col-lg-12 col-md-12 text-center">
      <%= will_paginate @products %>
    </div>
	<% else %>
		<div class="col-md-12 col-sm-12">
			<div class="alert alert-info" style="width: 100%">
	    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    			<span aria-hidden="true">×</span>
	    	</button>
	      <h3 class="text-info">
	      	<i class="fa fa-exclamation-circle"></i> Information
	     	</h3> 
	     	There are no products created yet on this app, please go and create some.
	    </div>
		</div>
	<% end %>
</div>

<div class="modal fade" id="newProduct" tabindex="-1" role="dialog" aria-labelledby="newProduct">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel1">New Product</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<form>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Name:</label>
                  <input type="text" class="form-control" id="product_name">
                  <span class="label label-danger" style="display: none" id="danger_name">Product name is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Unit:</label>
                  <%= select_tag "unit_type", options_for_select(Unit.get_all.map { |e| [e.name, e.id] }.sort), { :id => "select_unit", :class => "form-control", :include_blank => "-None-"} %>
                  <span class="label label-danger" style="display: none" id="danger_unit">Product unit is required!</span>
              </div>
              <div class="form-group">
                  <label for="recipient-name" class="control-label">Category:</label>
                  <%= select_tag "catergory_type", options_for_select(Product.categories.map{|e| [e[:name], e[:id]]}.sort), { :id => "select_category", :class => "form-control", :include_blank => "-None-"} %>
                  <span class="label label-danger" style="display: none" id="danger_category">Category unit is required!</span>
              </div>
              <div class="alert" id="product_alert" style="display: none">
              </div>
          	</form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="addProduct()" ontype="button" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="prioritizeProduct" role="dialog" aria-labelledby="prioritizeProduct">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Prioritize Product(s)</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          	<div class="table-responsive">
              <div class="alert" id="prioritize_alert" style="display: none"></div>
          		<table class="table table-bordered" id="prioritize-products">
          			<thead>
          				<tr>
          					<th>Product</th>
          					<th>Prioritize</th>
          				</tr>
          			</thead>	
          			<tbody>
          				<% if !@active_products.blank? %>
          					<% @active_products.where(:status => Product::Status[:active]).order(prioritize: :desc, name: :asc).each do |product| %>
          						<tr>
          							<td product-id="<%= product.id %>" style="padding: 5px;vertical-align: top;">
          								<%= product.name %>
          							</td>
          							<td style="padding: 5px;vertical-align: top;">
                          <% if product.prioritize %>
            								<input type="checkbox" id="priorizate<%=product.id%>" class="filled-in" value="<%= product.prioritize %>" checked>
                            <label for="priorizate<%=product.id%>"> <%= product.prioritize == false ? "Not Prioritized" : "Prioritized" %></label>
                          <% else %>
                            <input type="checkbox" id="priorizate<%=product.id%>" class="filled-in" value="<%= product.prioritize %>">
                            <label for="priorizate<%=product.id%>"> <%= product.prioritize == false ? "Not Prioritized" : "Prioritized" %></label>
                          <% end %>
          							</td>
          						</tr>
          					<% end %>
          				<% else %>
          					<h2>
          						There's no existing products, please go and create some.
          					</h2>
          				<% end %>
          			</tbody>
          		</table>
          	</div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="prioritizaProducts()" ontype="button" class="btn btn-danger waves-effect waves-light">Update</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="topProductsModel" role="dialog" aria-labelledby="topProductsModel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Top Product(s) Model</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <div class="alert" id="top_alert" style="display: none"></div>
              <table class="table table-bordered" id="top-products">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Order</th>
                  </tr>
                </thead>  
                <tbody>
                  <% if !@active_products.blank? %>
                    <% @active_products.where(:status => Product::Status[:active]).order(order_first_by: :asc, name: :asc).each do |product| %>
                      <tr>
                        <td product-id="<%= product.id %>" style="padding: 5px;vertical-align: top;">
                          <%= product.name %>
                        </td>

                        <td style="padding: 5px;vertical-align: top;">
                          <input type="number" min="0" max="1000" name="quantity" value="<%= product.order_first_by %>" placeholder="Enter Position" class="form-control"></input>
                        </td>

                      </tr>
                    <% end %>
                  <% else %>
                    <h2>
                      There's no existing products, please go and create some.
                    </h2>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button onclick="topProducts()" ontype="button" class="btn btn-danger waves-effect waves-light">Update</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProduct">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Edit Product</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
              <label for="recipient-name" class="control-label">Name:</label>
              <input type="text" class="form-control" id="edit_product_name" required>
              <span class="label label-danger" style="display: none" id="danger_edit_name">Product name is required!</span>
          </div>
          <div class="form-group">
              <label for="recipient-name" class="control-label">Unit:</label>
              <%= select_tag "unit_type", options_for_select(Unit.get_all.map { |e| [e.name, e.id] }.sort), { :id => "select_edit_unit", :class => "form-control", :include_blank => "- None -"} %>
              <span class="label label-danger" style="display: none" id="danger_edit_unit">Product unit is required!</span>
          </div>
          <div class="form-group">
              <label for="recipient-name" class="control-label">Category:</label>
                <%= select_tag "catergory_type", options_for_select(Product.categories.map{|e| [e[:name], e[:id]]}.sort), { :id => "select_edit_category", :class => "form-control", :include_blank => "-None-"} %>
                <span class="label label-danger" style="display: none" id="danger_edit_category">Category unit is required!</span>
              </div>
          <div class="form-group">
            <input type="checkbox" id="edit_product_status" class="filled-in" onclick="return false;">
            <label for="edit_product_status">Active</label>
          </div>
          <div class="alert" id="product_edit_alert" style="display: none">
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-6 pull-left">
            <button onclick="removeProduct()" type="button" class="btn btn-danger pull-left" >Remove</button> 
          </div>
          <div class="col-md-6" style="text-align: right;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button onclick="editProduct()" ontype="button" class="btn btn-primary waves-effect waves-light">Edit</button>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var idProductForEditing = 0;
var statusProduct = 0;
var unitId = 0;
var productElement = "";

$(document).on("wheel", "input[type=number]", function (e) {
  $(this).blur();
});

function topProducts(){
  let success = true;
  let count = $("#top-products").find('tbody tr').length
  let index = 1
  $("#top-products").find('tbody tr').each(function (i, el) {
    var tds = $(el).find('td');
    let position = $(tds).find("input").val();
    let product_id = $(tds).attr("product-id");
    product_object = {
      product : {
        id: product_id,
        order_first_by: position
      }
    }
    $.ajax({
      url: "<%= vip_products_path %>",
      method: "POST",
      data: product_object,
      success: function (data) {
        success = true;
        console.log(`${count} -- ${index}`)
        if (count == index){
          window.location.replace("<%= products_path %>")
        }
        index++
      },
      error: function (data) {
        $("#top_alert").empty();
        $("#top_alert").removeClass("alert-success");
        $("#top_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
              <span aria-hidden="true">×</span>\
            </button>';
        $("#top_alert").append(message);
        $("#top_alert").show();
        setTimeout(function(){
          $("#top_alert").hide();
        },5000);
        success = false;
        return false;
      }
    })
  });
}

function prioritizaProducts(){
  let success = true;
  let count = $("#prioritize-products").find('tbody tr').length
  let index = 1
  $("#prioritize-products").find('tbody tr').each(function (i, el) {
    var tds = $(el).find('td');
    let input_prioritize = $(tds).find("input").prop("checked");
    let product_id = $(tds).attr("product-id");
    product_object = {
      product : {
        id: product_id,
        prioritize: input_prioritize
      }
    }
    $.ajax({
      url: "<%= prioritize_product_path %>",
      method: "POST",
      data: product_object,
      success: function (data) {
        success = true;
        console.log(`${count} -- ${index}`)
        if (count == index){
          window.location.replace("<%= products_path %>")
        }
        index++
      },
      error: function (data) {
        $("#prioritize_alert").empty();
        $("#prioritize_alert").removeClass("alert-success");
        $("#prioritize_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
              <span aria-hidden="true">×</span>\
            </button>';
        $("#prioritize_alert").append(message);
        $("#prioritize_alert").show();
        setTimeout(function(){
          $("#prioritize_alert").hide();
        },5000);
        success = false;
        return false;
      }
    })

  });
}

function removeProduct(){
  $.ajax({
    url: "<%= remove_product_path %>",
    method: "POST",
    data: {id: idProductForEditing},
    success: function (data) {
      if(data.success){
        $(productElement).remove()
        $("#editProductModal").modal('hide');
      }else{
        $("#product_edit_alert").empty();
        $("#product_edit_alert").removeClass("alert-success");
        $("#product_edit_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#product_edit_alert").append(message);
        $("#product_edit_alert").show();
      }
    },
    error: function (data) {
      $("#product_edit_alert").empty();
      $("#product_edit_alert").removeClass("alert-success");
      $("#product_edit_alert").addClass("alert-danger");
      message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                <span aria-hidden="true">×</span>\
                </button>';
      $("#product_edit_alert").append(message);
      $("#product_edit_alert").show();
    }
  })
}

function addProduct(){
  if (!validateProductData()){
    name = $.trim($("#product_name").val());
    unit_id = parseInt($("#select_unit").val());
    category = parseInt($("#select_category").val())

    product_object = {
      product : {
        name: name,
        unit_id: unit_id,
        category: category
      }
    }

    $.ajax({
      url: "<%= admin_product_path %>",
      method: "POST",
      data: product_object,
      success: function (data) {
        if(data.success){
          appendProduct(data.product_id);
          $("#product_alert").empty();
          $("#product_alert").removeClass("alert-danger");
          $("#product_alert").addClass("alert-success");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#product_alert").append(message);
          $("#product_alert").show();
          setTimeout(function(){
            $("#product_alert").hide();
            $("#newProduct").modal('hide');
          },5000);
        }else{
          $("#product_alert").empty();
          $("#product_alert").removeClass("alert-success");
          $("#product_alert").addClass("alert-danger");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#product_alert").append(message);
          $("#product_alert").show();
          setTimeout(function(){
            $("#product_alert").hide();
          },5000);
        }
      },
      error: function (data) {
        $("#product_alert").empty();
        $("#product_alert").removeClass("alert-success");
        $("#product_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#product_alert").append(message);
        $("#product_alert").show();
        setTimeout(function(){
          $("#product_alert").hide();
        },5000);
      }
    })
  }
}

function validateProductData(){
  product_name = $.trim($("#product_name").val());
  unit_id = $("#select_unit").val();
  category = $("#select_category").val();
  error = false;

  if(product_name.length === 0)
  { 
    $("#danger_name").show();
    setTimeout(function(){
        $('#danger_name').hide();
    },5000);
    error = true;
  }

  if(unit_id === "")
  { 
    $("#danger_unit").show();
    setTimeout(function(){
        $('#danger_unit').hide();
    },5000);
    error = true;
  }

  if(category === "")
  { 
    $("#danger_category").show();
    setTimeout(function(){
        $('#danger_category').hide();
    },5000);
    error = true;
  }

  return error;
}

function appendProduct(product_id){
  name = $.trim($("#product_name").val());
  unit_id = parseInt($("#select_unit").val());
  unit_name = $("#select_unit option:selected").text();
  category_id = parseInt($("#select_category").val());
  category_name = $("#select_category option:selected").text();

  var element = '<div class="col-lg-3 col-md-6 col-sm-12">\
                  <a onclick="openModalEditProduct(this)" style="cursor: pointer;">\
                    <div class="card" data-product-id="' + product_id + '" data-product-status="1">\
                      <div class="card-body" style="padding: 5px 10px 5px 10px;">\
                        <div class="d-flex flex-row">\
                          <div class="align-self-center">\
                            <small class="m-b-0">' + name + '</small>\
                            <br/>\
                            <span class="m-b-0" data-category-id="'+ category_id +'">' + category_name.toUpperCase() + '</span>\
                            <h4 class="text-muted m-b-0 text-info" data-unit-id="' + unit_id +'">' + unit_name +'</h4>\
                            <h5 class="text-info"><span class="badge badge-warning"> Not Prioritized </span></h5>\
                          </div>\
                        </div>\
                      </div>\
                    </div>\
                  </a>\
                </div>';

  $("#products").prepend(element);
  $("#product_name").val("");
  $("#select_unit").val("");
}

function openModalEditProduct(element){  
  idProductForEditing = $(element).find(".card").attr("data-product-id");
  statusEmail = parseInt($(element).find(".card").attr("data-product-status"));
  unitId = parseInt($(element).find("h4").attr("data-unit-id"));
  category = parseInt($(element).find("span").attr("data-category-id"));  
  productElement = element;
  name = $(element).find("small").text();
  $('#edit_product_name').val(name);
  $('#edit_product_status').prop('checked', statusEmail);
  $("#select_edit_unit").val(unitId);
  $("#select_edit_category").val(category);
  $('#editProductModal').modal('show');
}

function editProduct(){
  if (!validateEditProductData()){
    name = $.trim($("#edit_product_name").val());
    product_status = $("#edit_product_status").is(":checked");
    product_status = product_status == true ? 1 : 0;
    unit_id = $("#select_edit_unit").val();
    category = $("#select_edit_category").val();

    product_object = {
      product : {
        id: idProductForEditing,
        name: name,
        unit_id: unit_id,
        status: product_status,
        category: category
      }
    }

    $.ajax({
      url: "<%= admin_product_path %>",
      method: "POST",
      data: product_object,
      success: function (data) {
        if(data.success){
          updateProductElement();
          $("#product_edit_alert").empty();
          $("#product_edit_alert").removeClass("alert-danger");
          $("#product_edit_alert").addClass("alert-success");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#product_edit_alert").append(message);
          $("#product_edit_alert").show();
          setTimeout(function(){
            $("#product_edit_alert").hide();
            $("#editProductModal").modal('hide');
          },5000);
        }else{
          $("#product_edit_alert").empty();
          $("#product_edit_alert").removeClass("alert-success");
          $("#product_edit_alert").addClass("alert-danger");
          message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">×</span>\
                    </button>';
          $("#product_edit_alert").append(message);
          $("#product_edit_alert").show();
          setTimeout(function(){
            $("#product_edit_alert").hide();
          },5000);
        }
      },
      error: function (data) {
        $("#product_edit_alert").empty();
        $("#product_edit_alert").removeClass("alert-success");
        $("#product_edit_alert").addClass("alert-danger");
        message = data.data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                  <span aria-hidden="true">×</span>\
                  </button>';
        $("#product_edit_alert").append(message);
        $("#product_edit_alert").show();
        setTimeout(function(){
          $("#product_edit_alert").hide();
        },5000);
      }
    })

  }
}

function validateEditProductData(){
  product_name = $.trim($("#edit_product_name").val());
  unit_id = $("#select_edit_unit").val();
  category = $("#select_edit_category").val();
  error = false;

  if(product_name.length === 0)
  { 
    $("#danger_edit_name").show();
    setTimeout(function(){
        $('#danger_edit_name').hide();
    },5000);
    error = true;
  }

  if(unit_id === "")
  { 
    $("#danger_edit_unit").show();
    setTimeout(function(){
        $('#danger_edit_unit').hide();
    },5000);
    error = true;
  }

  if(category === "")
  { 
    $("#danger_edit_category").show();
    setTimeout(function(){
        $('#danger_edit_category').hide();
    },5000);
    error = true;
  }

  return error;
}

function updateProductElement(){
  name = $.trim($("#edit_product_name").val());
  unit_name = $("#select_edit_unit option:selected").text();
  unit_id = $("#select_edit_unit").val();
  category_name = $("#select_edit_category option:selected").text();
  category_id = $("#select_edit_category").val();
  $(productElement).find("small").text(name);
  $(productElement).find("h4").text(unit_name);
  $(productElement).find("h4").attr('data-unit-id', unit_id); 
  $(productElement).find("span").text(category_name);
  $(productElement).find("h4").attr('data-category-id', category_id); 
  productElement = "";
  idProductForEditing = 0;
}

</script>