<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sevan Plastering" %></title>
    <%= stylesheet_link_tag 'application'%>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'blue' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="fix-header fix-sidebar card-no-border">

    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header">
            <span class="text-center">
              <a class="navbar-brand" style="color:#fff;font-size: 25px" href="<%= root_path %>"><strong>EMRICH VICTORY PLASTERING INC</strong></a>
            </span>
          </div>

          <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
              <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
              <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            </ul>

            <ul class="navbar-nav my-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %></a>
                <div class="dropdown-menu dropdown-menu-right scale-up">
                  <ul class="dropdown-user">
                    <li><a data-method="delete" href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                  <a href="<%= root_path %>" >
                    <i class="fa fa-list-alt"></i>
                    <span class="hide-menu">Home</span>
                  </a>
                </li>
                <li>
                  <a href="<%= history_orders_path %>" >
                    <i class="fa fa-history"></i>
                    <span class="hide-menu">History</span>
                  </a>
                </li>
                <li>
                  <a href="<%= vendors_path %>" >
                    <i class="fa fa-truck"></i>
                    <span class="hide-menu">Vendors</span>
                  </a>
                </li>
                <li>
                  <a href="<%= builders_path %>" >
                    <i class="fa fa-institution"></i>
                    <span class="hide-menu">Builders</span>
                  </a>
                </li>
                <li>
                  <a href="<%= units_path %>" >
                    <i class="fa fa-cube"></i>
                    <span class="hide-menu">Units</span>
                  </a>
                </li>
                <li>
                  <a href="<%= products_path %>" >
                    <i class="fa fa-plus-square"></i>
                    <span class="hide-menu">Products</span>
                  </a>
                </li>
                <% if current_user.is_admin %>
                <li <%= 'class=active' if controller_name == 'users' %>>
                  <a href="<%= admin_users_path %>" >
                    <i class="fa fa-user-circle-o"></i>
                    <span class="hide-menu">Users</span>
                  </a>
                </li>
                <li <%= 'class=active' if controller_name == 'settings' %>>
                  <a href="<%= admin_settings_path %>" >
                    <i class="fa fa-gear"></i>
                    <span class="hide-menu">Settings</span>
                  </a>
                </li>
                <% end %>

                <% if user_signed_in? %>
                <li>
                  <a href="<%= destroy_user_session_path %>" data-method="delete">
                    <i class="fa fa-sign-out"></i>
                    <span class="hide-menu">Log Out</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>

      </aside>

      <div class="page-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
        <footer class="footer">
          © 2018 SVM STUCCO INC.
        </footer>
      </div>

    </div>

  </body>
</html>
