<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sevan Plastering" %></title>
    <%= stylesheet_link_tag 'application'%>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'blue' %>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="fix-header fix-sidebar card-no-border">

    <div id="main-wrapper">
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= root_path %>">
              <b>
                <img src="/assets/logo-icon.png" alt="homepage" class="dark-logo" />
                <img src="/assets/logo-light-icon.png" alt="homepage" class="light-logo" />
              </b>
              <span>
                <img src="/assets/logo-text.png" alt="homepage" class="dark-logo" />
                <img src="/assets/logo-light-text.png" class="light-logo" alt="homepage" />
              </span>
            </a>
          </div>

          <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
              <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
              <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            </ul>

            <ul class="navbar-nav my-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></a>
                <div class="dropdown-menu dropdown-menu-right scale-up">
                  <ul class="dropdown-user">
                    <li><a data-method="delete" href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li class="nav-small-cap">MENU</li>
                <li>
                  <a href="<%= vendors_path %>" >
                    <i class="mdi mdi-cash"></i>
                    <span class="hide-menu">Vendors</span>
                  </a>
                </li>
                <li>
                  <a href="<%= builders_path %>" >
                    <i class="mdi mdi-home-modern"></i>
                    <span class="hide-menu">Builders</span>
                  </a>
                </li>
                <li>
                  <a href="<%= projects_path %>" >
                    <i class="mdi mdi-home-variant"></i>
                    <span class="hide-menu">Projects</span>
                  </a>
                </li>
                <li>
                  <a href="<%= products_path %>" >
                    <i class="mdi mdi-home-variant"></i>
                    <span class="hide-menu">Products</span>
                  </a>
                </li>

                <% if user_signed_in? %>
                <li>
                  <a href="<%= destroy_user_session_path %>" data-method="delete">
                    <i class="mdi mdi-gauge"></i>
                    <span class="hide-menu">Log Out</span>
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>

      </aside>

      <div class="page-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
        <footer class="footer">
          © 2018 Sevan Plastering
        </footer>
      </div>

    </div>

  </body>
</html>
