<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="icon" type="image/x-icon" href="">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'style' %>
    <%= stylesheet_link_tag 'blue' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <%= yield %>
    </div>
</body>
</html>